.custom-button {

    padding: 10px 10px;
    width: 48%;
    font-weight: bold;
    border: none;
    background-color: black;
    color:white;
    border: 1px solid black;

    &.inverted {
        background-color: white;
        color: black;
        border: 1px solid black;
    
        &:hover {
          background-color: black;
          color: white;
          border: none;
        }
      }    

    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
        
    }



}

.google__btn {
    background-color: #FF4136;
    border: 1px solid #FF4136;
    color: white;
    
}





