.collection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    @media screen and(min-width: 1201px) {
        align-items: unset;
    }

    .collection-title {
        text-align: center;
        font-size: 2rem;
    }
    
    .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start !important;
        align-items: flex-start !important;

        @media screen and (min-width: 1201px) {
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }

        .collection-item {
            width: 90%;
            margin: 5px;

            @media screen and (min-width: 1201px) {
                width: 22%;
            }
        }
    }
}