.sign-in {
    width: 90%;

    @media screen and (min-width: 1080px) {
        width: 45%;
    }

    // .sign-in-form {
    //     display: flex;
    //     flex-direction: column;


    .button-area {
        display: flex;
        justify-content: space-between;
    }

    .error-message {
        color: red;
    }

}