.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(1.2);

    .shopping-icon {
        height: 25px;
    }
    

    .items-count {
        position: absolute;
        font-size: 0.8rem;
        font-weight: bold;
        bottom: 1px;
    } 

}    
    

