.collection-page {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    
    .items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        
        @media screen and (max-width: 380px) {
            width: 90%;
        }

        @media screen and (min-width: 380px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (min-width: 960px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .collection-item {
        }
    }
}