.header {
    //padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 1.2rem;
    color: black;
    

    .active {
        color: grey;
    }

    a {
        text-decoration: none;
        border-bottom: none;
        color: inherit;
    }

    .logo {
        width: 30%;
        font-size: 3.5em;
        text-decoration: none;
        color: grey;
    }

    .left-header-items {

    }

    .right-header-items {
        //margin-right: 1em;
        justify-content: flex-end;
        display: none;
        justify-content: space-evenly;

        .option {
            margin: 0 10px 0 10px;


            &:hover {
                color: grey;
                cursor: pointer;
            }
        }

        .cart-outline {
            transform: scaleX(2);
        }


        @media screen and (min-width: 500px) {
            display: flex;
        }
    }

    .nav-menu {

        margin-left: auto;

        @media screen and (min-width: 500px) {
            display: none;
        }


        .bars.icon {
            color: black;
        }

    }
}