html {
    overflow: scroll;
    font-size: 18px;

}

header {
    padding: 15px;
    background-color:rgba(255,255,255, 0.9);
    //opacity: 0.9;
    //position: sticky;
    z-index: 2;
    box-shadow: 0 2px 7px 0 rgba(29,31,32, 0.2);
    //border-bottom: 1px solid grey;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans Condensed', sans-serif !important;
    margin: 0;
}

section {
    background-color: #f6f7fa;
    min-height: 100vh;
}


.container {

    width: 95%;
    margin: 0 auto;

    @media screen and (min-width: 960px) {
        width: 85%;

    }

}